@import "fonts/goboldregular/stylesheetgoboldregular.css";
@import "fonts/misiongoticlight/stylesheetmisiongoticlight.css";
@import "fonts/misiongoticbold/stylesheetmissiongoticbold.css";
@import "fonts/bankgotic/stylesheetbankgotic.css";
@import "fonts/goboldhollow/stylesheetgoboldhollow.css";
@import "fonts/gobolditalic/stylesheetgobolditalic.css";


@mixin nocenter(){
  position: relative;
  top: 0;
  left: 0;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

@mixin center(){
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin centerleft (){
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@mixin centertop (){
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.tmp-live{
  .row{
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.tmp-main{
  .row{
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.glyph-icon{
  position: absolute;
  z-index: 999;
  color: #DC2A2A;
  background-color: #000000;
  line-height: 30px;
  font-size: 35px;
  &.flaticon-socialnetwork292{
    right: 0;
    top: 10%;
    @media screen and (min-width: 320px) and (max-width: 640px) {
      top:20%;
    }
  }
  &.flaticon-twitter25{
    right: 0;
    top: 17%;
    @media screen and (min-width: 320px) and (max-width: 640px) {
      top:30%;
    }
  }
  &:before{
    font-size: 40px !important;
    margin-left: 0px !important;
  }
}

.pesas {
  position: relative;
  @media screen and (min-width: 320px) and (max-width: 1024px) {
    display: none;
  }
  .pesa1 {
    max-width: 300px;
    width: 300px;
    position: absolute;
    top: -80px;
    right: 40px;
    z-index: 9999;
    opacity: 0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    transform: translatey(150%);
    &.mostrar{
      opacity: 1;
      transform:translatey(0) ;
    }
  }
  .pesa2 {
    max-width: 250px;
    width: 250px;
    position: absolute;
    top: 50px;
    right: 22%;
    z-index: 9999;
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      display: none;
    }
  }
  .pesa3 {
    max-width: 300px;
    width: 300px;
    position: absolute;
    top: -80px;
    left: 40px;
    z-index: 9999;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    transform: translatey(150%);
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      display: none;
    }
    &.mostrar{
      transform: translatey(0%);
    }
  }
  .pesa4 {
    max-width: 250px;
    width: 250px;
    position: absolute;
    top: 55px;
    left: 20%;
    z-index: 9999;
    transform: translatey(70%);
    -webkit-transform: translatey(70%);
    -moz-transform: translatey(70%);
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      display: none;
    }
  }
}

.site-header{
  height: auto;
  padding: 10px;
  position: fixed;
  z-index: 999999
;
  width: 100%;
  &.transparent{
    background: rgba(0,0,0,0.3)
  }
  &.red{
    background-color: #DC2A2A;
  }
  .site-branding{
    img{
      width:50px;
      max-width: 50px;
      min-width: 50px;
      @media screen and (min-width: 320px) and (max-width: 640px) {
        width:30px;
        max-width: 30px;
        min-width: 30px;
      }
    }
  }
  .main-navigation{
    .menu-button {
      display: none;
      @media screen and (min-width: 320px) and (max-width: 640px) {
        display: block;
        width: 20px;
        z-index: 9999;
        position: absolute;
        top: 20px;
        right: 30px;
      }
      &:after{
        background-color: white;
        content: '';
        display: block;
        height: 3px;
        transition: all 200ms ease-in-out;
      }
      &:before{
        background-color: white;
        content: '';
        display: block;
        height: 3px;
        box-shadow: 0 6px 0 white;
        margin-bottom: 9px;
        transition: all 200ms ease-in-out;
      }
      &.active{
        &:before {
          box-shadow: 0 0 0 #fff;
          transform: translateY(5px) rotate(45deg);
        }
        &:after{
          transform: translateY(-7px) rotate(-45deg);
        }
      }
    }
    .menu{
      float: right;
      @media screen and (min-width: 320px) and (max-width: 640px) {
        position: fixed !important;
        opacity: 0;
        visibility: hidden;
      }
      li{
        @media screen and (min-width: 320px) and (max-width: 640px) {
          display: block;
          text-align: center;
        }
        a{
          color: #fff;
          font-family: 'bankgothic_md_btmedium';
          font-size: 25px;
        }
      }
      &.mostrar{
        @media screen and (min-width: 320px) and (max-width: 640px) {
          z-index:9999;
          @include center();
          opacity: 1;
          visibility: visible;
          position: fixed !important;
        }
      }
    }
  }
}

.site-content {
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-color: #F8F8F8;
  .portada {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @media screen and (max-height: 820px) {
      height: auto;
    }
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      height: auto;
    }
    .triangle {
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      right: 0;
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        border-bottom-width: 100px !important;
      }
    }
    .contenido {
      @include centertop();
      @media screen and (max-height: 820px) {
        @include nocenter();
        padding-top: 10%;
        padding-bottom: 10%;
      }
      width: 50%;
      padding: 60px;
      @media screen and (min-width: 641px) and (max-width: 1024px) {
        width: 100%;
        padding-top: 25%;
        padding-bottom: 25%;
        @include nocenter();
      }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        width: 100%;
        padding-top: 25%;
        padding-bottom: 25%;
        padding-right: 40px !important;
        padding-left: 40px !important;
        @include nocenter();
      }
      .titulo {
        color: #fff;
        font-family: 'goboldregular';
        text-transform: uppercase;
      }
      .hash {
        color: #fff;
        font-family: 'bankgothic_md_btmedium';
        font-size: 40px;
        text-transform: uppercase;
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          font-size: 20px;
          text-align: center;
        }
        span {
          color: #E7332A;
          font-size: 40px;
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            font-size: 20px;
          }
        }
      }
      .texto {
        color: #fff;
        font-size: 30px;
        font-family: 'mission_gothiclight';
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          font-size: 20px;
        }
      }
    }
    .down {
      bottom: 20px;
      @include centerleft();
      width: 70px;
      max-width: 70px;
      min-width: 70px;
      border: 1px solid #fff;
      padding: 20px;
      border-radius: 50%;
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        display: none;
      }
    }
  }
  .descripcion {
    height: 100vh;
    padding: 40px;
    position: relative;
    overflow: hidden;
    background-color: #ECEAE5;
    @media screen and (max-height: 820px) {
      height: auto;
    }
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
      height: auto;
      overflow: hidden;
    }

    .triangle2 {
      width: 0;
      height: 0;
      position: absolute;
      top: 0px;
      right: 0;
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        display: none;
      }
    }
    .contenido_descripcion {
      @include center();
      width: 100%;
      height: 80%;
      padding-left: 40px;
      padding-right: 40px;
      @media screen and (max-height: 820px) {
        @include nocenter();
      }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        height: auto;
        overflow: hidden;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        @include nocenter();
      }
      .infotop {
        float: right;
        width: 100%;
        text-align: right;
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          text-align: center;
          float: none;
          padding-bottom: 0px;
          padding-left: 0px;
          padding-right: 0px;
          background-color: #DC2A2A;
          position: relative;
          padding-top: 10%;
        }
        .titulo {
          color: #fff;
          font-family: 'goboldregular';
          text-transform: uppercase;
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            text-align: center;
          }
        }
        .sub{
          border-bottom: 2px solid #BCFF00;
          width: 30%;
          float: right;
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            width: 100%;
            float: none;
            border: none;
            padding-top: 20px;
          }
        }
        .border_responsivo{
          display: none;
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            display: block;
            position: absolute;
            background-color: #BCFF00;
            height: 3px;
            width: 60%;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
          }
        }
        p {
          color: #474747;
          font-size: 30px;
          font-family: 'mission_gothiclight';
          width: 50%;
          float: right;
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            width: 100%;
            float: none;
            text-align: center;
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 20px;
            padding-bottom: 10%;
            font-size: 20px;
            color: #ffffff;
          }
        }
        .triangulofootertextotop{
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            width: 0;
            height: 0;
            border-bottom-width: 100px;
            border-bottom-color: #ECEAE5;
            border-bottom-style: solid;
          }
        }
      }
      .infobottom {
        float: left;
        padding-top: 5%;
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          text-align: center;
        }
        .imgbottom {
          float: left;
          width: 300px;
          max-width: 300px;
          height: 300px;
          max-height: 300px;
          border-radius: 50%;
          border: 2px dashed #DC2A2A;
          padding: 5px;
          -webkit-transition: all 500ms ease-in-out;
          -moz-transition: all 500ms ease-in-out;
          -o-transition: all 500ms ease-in-out;
          transition: all 500ms ease-in-out;
          transform: translatex(-150%);
          -webkit-transform: translatex(-150%);
          -ms-transform: translatex(-150%);
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            transform: translatex(0%);
            -webkit-transform: translatex(0%);
            -ms-transform: translatex(0%);
            float: none;
          }
          &.mostrar{
            transform: translatex(0%);
            -webkit-transform: translatex(0%);
            -ms-transform: translatex(0%);
          }
        }
        p {
          padding-left: 40px;
          color: #474747;
          font-size: 30px;
          font-family: 'mission_gothiclight';
          width: 50%;
          float: left;
          margin-top: 50px;
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            width: 100%;
            float: none;
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 20px;
            margin-top: 0px;
            font-size: 20px;

          }
        }
      }
    }
    .down {
      bottom: 20px;
      @include centerleft();
      width: 70px;
      max-width: 70px;
      min-width: 70px;
      border: 1px solid #A4A3A3;
      padding: 20px;
      border-radius: 50%;
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        display: none;
      }
    }
  }
  .programa{
    height: auto;
    overflow: hidden;
    position: relative;
    .banner {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 700px;
      position: relative;
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        height: auto;
        overflow: hidden;
      }
      .center {
        @include center();
        z-index: 9999;
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          width: 100%;
          padding-top: 10%;
          padding-bottom: 10%;
          @include nocenter();
          height: auto;
          overflow: hidden;
          text-align: center;
        }
        .titulo {
          color: #fff;
          font-family: 'goboldregular';
          text-transform: uppercase;
          text-align: center;

        }
        .cien {
          color: #fff;
          font-size: 13em;
          font-family: 'goboldregular';
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            line-height: 1em;
            font-size: 9em;
          }
        }
        .leyendas {
          margin-top: 0px;
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            margin-top: 0px;
          }
          .dias {
            color: #fff;
            font-family: 'gobold_hollow_boldregular';
            font-size: 30px;
            @media screen and (min-width: 320px) and (max-width: 1024px) {
              margin-bottom: 0px;
            }
          }
          .hash {
            color: #bcff00;
            font-family: 'goboldregular';
            font-size: 7em;
            line-height: 95px;
            text-align: center;
            @media screen and (min-width: 320px) and (max-width: 1024px) {
              font-size: 5em;
              line-height: 85px;
            }
          }
        }
      }
    }
    .cinta{
      background-color: #BCFF00;
      text-align: center;
      padding: 20px;
      h3{
        font-family: 'goboldregular';
      }
    }
    .caja1{
      padding: 40px;
      background-color: #ECEAE5;
      height: 350px;
      @media screen and (min-width: 320px) and (max-width: 640px) {
        height: auto;
        overflow: hidden;
      }
      @media screen and (min-width: 641px) and (max-width: 1024px) {
        height: 500px;
        overflow: hidden;
      }
      img{
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        margin-bottom: 20px;
      }
      h3 {
        font-family: 'goboldregular';
        text-transform: uppercase;
      }
      p{
        font-family: 'mission_gothiclight';
        color: #303030;
        font-size: 20px;
      }
    }
    .caja2{
      padding: 40px;
      background-color: #DDDCDB;
      height: 350px;
      @media screen and (min-width: 320px) and (max-width: 640px) {
        height: auto;
        overflow: hidden;
      }
      @media screen and (min-width: 641px) and (max-width: 1024px) {
        height: 500px;
        overflow: hidden;
      }
      img{
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        margin-bottom: 20px;
      }
      h3 {
        font-family: 'goboldregular';
        text-transform: uppercase;
      }
      p{
        font-family: 'mission_gothiclight';
        color: #303030;
        font-size: 20px;
      }
    }
    .caja3{
      padding: 40px;
      background-color: #C4C4C4;
      height: 350px;
      @media screen and (min-width: 320px) and (max-width: 640px) {
        height: auto;
        overflow: hidden;
      }
      @media screen and (min-width: 641px) and (max-width: 1024px) {
        height: 500px;
        overflow: hidden;
      }
      img{
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        margin-bottom: 20px;

      }
      h3 {
        font-family: 'goboldregular';
        text-transform: uppercase;
      }
      p{
        font-family: 'mission_gothiclight';
        color: #303030;
        font-size: 20px;
      }
    }
  }
  .video{
    .content {
      padding-left: 10%;
      padding-right: 10%;
      margin-top: 50px;
      margin-bottom: 60px;
      .titulo{
        color: #000;
        font-family: 'goboldregular';
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 40px;
      }
    }
  }
  .atencion{
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      background-attachment: scroll;
    }
    .overlay{
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(188, 255, 0, 0.7)
    }
    .triangulo1{
      width: 0;
      height: 0;
      position: inherit;
      @media screen and (min-width: 320px) and (max-width: 640px) {
        position: absolute;
        top: 0;
        border-top-width: 100px !important;
      }
      @media screen and (min-width: 641px) and (max-width: 1024px) {
        position: absolute;
        top: 0;
        border-top-width: 300px !important;
      }
    }
    .triangulo2{
      width: 0;
      height: 0;
      position: inherit;
      @media screen and (min-width: 320px) and (max-width: 640px) {
        position: absolute;
        bottom: 0;
        border-bottom-width: 100px !important;
      }
      @media screen and (min-width: 641px) and (max-width: 1024px) {
        position: absolute;
        bottom: 0;
        border-bottom-width: 300px !important;
      }
    }
    .titulo {
      color: #000000;
      font-family: 'gobold_italicitalic';
      text-transform: uppercase;
      @include center();
    }
  }
  .faq{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    background-color: #ECEAE5;
    .titulo{
      font-family: 'goboldregular';
      text-transform: uppercase;
      color: #000000;
      text-align: center;
      letter-spacing: 4px;
    }
    div{
      font-family: 'mission_gothiclight';
      font-size: 20px;
      color: #474747;
      margin-top: 60px;
      strong{
        font-family: 'mission_gothicbold';
      }
    }
  }
  .testimonios{
    background-color: #F8F8F8;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    .titulo{
      font-family: 'goboldregular';
      text-transform: uppercase;
      color: #000000;
      text-align: center;
    }
    .item_testi{
      background-color: #ffffff;
      height: 500px;
      overflow: hidden;
      padding: 20px;
      margin: 20px;
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        height: auto;
      }
      .img{
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100%;
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          height: 500px;
        }
      }
      .texto{
        font-family: 'mission_gothiclight';
        font-size: 18px;
        height: 450px;
        overflow-y: scroll;
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          height: auto;
          margin-top: 20px;
        }
      }
      .moretesti{
        @media screen and (min-width: 320px) and (max-width: 800px) {
          display: block;
          background-color: #DC2A2A;
          text-align: center;
          color: #fff;
          font-size: 20px;
          padding: 10px;
          margin-top: 20px;
        }
      }
    }
    .owl-dots{
      position: absolute;
      bottom: -13%;
      @media screen and (min-width: 320px) and (max-width: 800px) {
        bottom: 0;
      }
    }
  }
  .pagos{
    background-color: #ECEAE5;
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    height: auto;
    overflow: hidden;
    .titulo{
      font-family: 'goboldregular';
      color: #000000;
      text-align: center;
    }
    .inversion{
      color: #474747;
      font-family: 'mission_gothicbold';
      text-align: center;
      font-size: 24px;
      margin-top: 60px;
      .costo{
        color: #DC2A2A;
      }
    }
    .opcionpago{
      margin-top: 40px;
      font-size: 20px;
      input{
        background-color: #DC2A2A;
        color: #ffffff;
        padding: 15px;
        border: none;
        width: 40%;
        font-family: 'mission_gothicbold';
        @media screen and (min-width: 320px) and (max-width: 800px) {
          width: 100%;
        }
      }
    }
  }
  .contacto{
    height: auto;
    overflow: hidden;
    position: relative;
    background-color: #F8F8F8;
    .triangulocontactotop{
      position: absolute;
      right: 0;
      width: 0;
      height: 0;
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        border-top:100px solid #ECEAE5 !important;
      }
    }
    .titulo{
      font-family: 'goboldregular';
      text-transform: uppercase;
      color: #000000;
      margin: 0 auto;
      @media screen and (min-width: 320px) and (max-width: 640px) {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20px;
        text-align: center;
      }
    }

    .agenda{
      display: none;
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        width: 100%;
      }
      .subtitulo {
        font-family: 'goboldregular';
        text-transform: uppercase;
        color: #000000;
        font-size: 25px;
        display: inline;
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          width: 100%;
          font-size: 20px;
        }
      }
    }
    .cirulo1{
      display: inline-block;
      width: 9px;
      height: 9px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: #DC2A2A;
      margin: 0;
      margin-left: 10px;
      margin-right: 10px;
      vertical-align: super;
    }
    .contenido {
      padding-top: 20%;
      padding-bottom: 5%;
      padding-right: 5%;
      padding-left: 5%;
      height: auto;
      overflow: hidden;
      @media screen and (min-width: 320px) and (max-width: 800px) {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        padding-top: 25%;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
      }
      @media screen and (min-width: 801px) and (max-width: 1024px) {
        padding-bottom: 10%;
      }
      .datos_contacto {
        margin-top: 50px;
        border-left: 5px solid #DC2A2A;
        font-family: 'mission_gothiclight';
        font-size: 20px;
        position: relative;
        @media screen and (min-width: 320px) and (max-width: 800px) {
          order: 2;
          background-color: #DC2A2A;
          color: #fff;
          padding: 20px;
          text-align: center;
          border:none;
        }
        .tringulo_contactohome{
          width: 0;
          height: 0;
          border-top: 100px solid #F8F8F8;
          border-right: 640px solid transparent;
          position: absolute;
          top: 0;
          left: 0;
        }
        .content{
          @media screen and (min-width: 320px) and (max-width: 640px) {
            margin-top: 30%;
            margin-bottom: 30%;
          }
          @media screen and (min-width: 641px) and (max-width: 1024px) {
            margin-top: 10%;
            margin-bottom: 10%;
          }
          .logowhatapp{
            width: 30px;
          }
        }
      }
      .form_contacto {
        margin-top: 50px;
        @media screen and (min-width: 320px) and (max-width: 800px) {
          order: 1;
          padding-left: 30px;
          padding-right: 30px;
        }
        label {
          color: #000;
          font-size: 20px;
          font-family: 'mission_gothiclight';
        }
        br {
          display: none;
        }
        .sendform {
          background-color: #DC2A2A;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 30px;
          padding-right: 30px;
          color: #fff;
          border: none;
          float: right;
          font-size: 20px;
          @media screen and (min-width: 320px) and (max-width: 800px) {
            width: 100%;
            float: none;
            margin-bottom: 40px;
          }
          @media screen and (min-width: 801px) and (max-width: 1024px) {
            width: 100%;
            float: none;
            margin-bottom: 70px;
          }
        }
      }
    }
    .triangulocontacto {
      position: absolute;
      bottom: 0px;
      width: 0;
      height: 0;
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        display: none;
      }
    }
    .trianguloblog2 {
      display: none;
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        position: absolute;
        bottom: 0px;
        width: 0;
        height: 0;
        display: block;
      }
    }
  }

  .blog{
    position: relative;
    overflow: hidden;
    background-color: #F8F8F8;
    .banner {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 70vh;
      position: relative;
      overflow: hidden;
      @media screen and (min-width: 320px) and (max-width: 640px) {
        margin-top: 17%;
      }
      @media screen and (min-width: 641px) and (max-width: 1024px) {
        margin-top: 7%;
      }
      .formsuscribe {
        @include centertop();
        right: 10%;
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          width: 100%;
          right: 0px;
          padding-left: 20px;
          padding-right: 20px;
        }
        .titulo {
          font-family: 'goboldregular';
          span {
            color: #FF3333;
          }
        }
        .describe{
          font-family: 'mission_gothiclight';
          color: #454547;
          font-size: 18px;
          margin-bottom: 0px;
        }
        input{
          border:3px solid #FF3333;
          padding: 20px;
        }
        #btnSubmit{
          color: #fff;
          font-family: 'mission_gothiclight';
          background-color: #FF3333;
          padding-left: 30px;
          padding-right: 30px;
          padding-top: 5px;
          padding-bottom: 5px;
          font-size: 20px;
          float: right;

        }
      }
      .trianguloblog{
        width: 0;
        height: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        @media screen and (min-width: 320px) and (max-width: 640px) {
          border-bottom-width: 50px !important;
        }
        @media screen and (max-height: 700px) {
          border-bottom-width: 70px !important;
        }
      }
    }
    .listadoarticulos{
      margin-top: 50px;
      padding-left: 10%;
      padding-right: 10%;
      padding-bottom: 7%;
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        padding-left: 0px;
        padding-right: 0px;
      }
      .item{
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 20px;
        height: 650px;
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          height: auto;
        }
        .portada_articulo{
          height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: top;
        }
        .titulo_articulo{
          text-align: right;
          color: #FF3333;
          font-family: 'bankgothic_md_btmedium';
          font-size: 18px;
          border-bottom: 2px solid #FF3333;
        }
        .metaarticulo{
          font-family: 'mission_gothiclight';
          color: #454547;
          float: left;
          padding-left: 10px;
          text-align: center;
          font-size: 18px;
          a{
            color:#DC2A2A;
            cursor: default;
          }
        }
        .contenidoarticulo{
          font-family: 'mission_gothiclight';
          color: #454547;
          font-size: 18px;
        }
      }
      .paginacion{
        font-family: 'bankgothic_md_btmedium';
        color: #454547;
        font-size: 25px;
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          margin-bottom: 40px;
        }
        .page-numbers{
          color: #454547;
          &.current{
            color: #FF3333;
          }
        }
      }
      .trianguloblog2{
        width: 0;
        height: 0;
        position: absolute;
        bottom: 0;
        right: 0px;
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          border-bottom-width: 50px !important;
        }
      }
    }
  }
  .content-area {
    background-color: #F8F8F8;
    position: relative;
    overflow: hidden;
    .banner {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 70vh;
      position: relative;
      overflow: hidden;
      @media screen and (min-width: 320px) and (max-width: 640px) {
        margin-top: 17%;
      }
      @media screen and (min-width: 641px) and (max-width: 1024px) {
        margin-top: 7%;
      }
      .formsuscribe {
        @include centertop();
        right: 10%;
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          width: 100%;
          right: 0px;
          padding-left: 20px;
          padding-right: 20px;
        }
        .titulo {
          font-family: 'goboldregular';
          span {
            color: #FF3333;
          }
        }
        .describe{
          font-family: 'mission_gothiclight';
          color: #454547;
          font-size: 18px;
          margin-bottom: 0px;
        }
        input {
          border: 3px solid #FF3333;
          padding: 20px;
        }
        #btnSubmit {
          color: #fff;
          font-family: 'mission_gothiclight';
          background-color: #FF3333;
          padding-left: 30px;
          padding-right: 30px;
          padding-top: 5px;
          padding-bottom: 5px;
          font-size: 20px;
          float: right;
        }
      }
      .trianguloblog {
        width: 0;
        height: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          border-bottom-width: 50px !important;
        }
      }
    }
    .contenido_general{
      padding-left: 5%;
      padding-right: 5%;
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        padding-left: 40px;
        padding-right: 40px;
      }
    .contenido_articulo {
      margin-top: 10%;
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
      }
      .imgdestacada {
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      }
      .entry-title {
        font-family: 'bankgothic_md_btmedium';
        color: #FF3333;

      }
      .entry-meta {
        .metaarticulo {
          font-family: 'mission_gothiclight';
          color: #FF3333;
          float: left;
          padding-left: 10px;
          text-align: center;
          font-size: 18px;
          a {
            color: #FF3333;
            font-family: 'mission_gothiclight';
          }
        }
      }
      .entry-content {
        h1{
          font-family: 'bankgothic_md_btmedium';
          color: #FF3333;
        }
        h2{
          font-family: 'bankgothic_md_btmedium';
          color: #FF3333;
        }
        h3{
          font-family: 'bankgothic_md_btmedium';
          color: #FF3333;
        }
        h4{
          font-family: 'bankgothic_md_btmedium';
          color: #FF3333;
        }
        p {
          color: #686868;
          font-family: 'mission_gothiclight';
          font-size: 18px;
        }
        ul{
          li{
            color: #686868;
            font-family: 'mission_gothiclight';
            font-size: 18px;
          }
        }
        .sharedaddy {
          margin-left: 10%;
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            margin-left: 0px;
          }
          .sd-title {
            border: none !important;
            color: #FF3333;
            font-size: 18px;
          }
          .sd-content {
            display: inline-block;
            margin-left: 30px;
            @media screen and (min-width: 320px) and (max-width: 1024px) {
              margin-left: 10px;
            }
            ul {
              li {
                padding: 10px;
                a {
                  background-color: #FF3333;
                }
              }
            }
            ol{
              li {
                padding: 10px;
                a {
                  background-color: #FF3333;
                }
              }
            }
          }
        }
      }
    }
  }
    .sidebar{
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        margin-top: 40px;
      }
      .titulo_seccion{
        font-family: 'goboldregular';
        color: #DC2A2A;
        margin-bottom: 40px;
      }
      .articulo_relacionado{
        margin-bottom: 30px;
        .imgdestacada{
          height: 300px;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
        }
        .tituloarticulo{
          font-family: 'bankgothic_md_btmedium';
          color: #DC2A2A;
          font-size: 25px;
        }
        .contenidoarticulorelacionado{
          font-family: 'mission_gothiclight';
          color: #515151;
          font-size: 18px;
        }
      }
      .owl-next{
        background-color: #DC2A2A;
        color: #fff;
        font-family: 'mission_gothiclight';
        font-size: 18px;
      }

      .owl-prev{
        background-color: #DC2A2A;
        color: #fff;
        font-family: 'mission_gothiclight';
        font-size: 18px;
      }
    }
    .comentariosarticulo{
      background-color: #DC2A2A;
      height: auto;
      overflow: hidden;
      padding-left: 5%;
      padding-right: 5%;
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        padding-left: 5%;
        padding-right: 5%;
      }
      #reply-title{
        color: #ECEAE5;
        font-family: 'mission_gothiclight';
      }
      .comments-title{
        color: #ECEAE5;
        font-family: 'mission_gothiclight';
      }
      .comment-list{
        li{
          list-style: none;
        }
      }
      .comment-author {
        display: inline;
        .fn {
          color: #ECEAE5;
          font-family: 'mission_gothiclight';
        }
        .says {
          display: none;
        }
      }
      .comment-metadata{
        display: inline;
        a{
          color: #ECEAE5;
          font-family: 'mission_gothiclight';
        }
      }
      .comment-content{
        margin-top: 20px;
        p{
          font-family: 'mission_gothiclight';
          color: #ECEAE5;
          font-size: 20px;
        }
      }
    }
    .trianguloblog2{
      border-left-color: rgb(220, 42, 42) !important;
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        border-bottom-width: 50px !important;
      }
    }
  }
}

#redtriangulofooter{
  border-bottom-color: rgb(220, 42, 42) !important;
}

.site-footer{
  background-color: #0D0F13;
  padding: 20px;
  .politicas {
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      text-align: center;
    }
    a {
      color: #fff;
    }
  }
  .copy {
    display: block;
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      display: none;
    }
    p {
      color: #fff;
      margin-bottom: 0px;
    }
  }
}

.wysija-input{
  border: 3px solid rgb(255, 51, 51);
}

.widget_wysija_cont{
  height: auto;
  overflow: hidden;
}

.wysija-submit{
  color: #fff;
  font-family: 'mission_gothiclight';
  background-color: #FF3333;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  float: right;
}

.curtain{
  .content{
    background-color: rgb(236, 234, 229);
  }
}

.popup{
  .close-btn{
    top: -50px !important;
  }
}

.response{
  display: none;
}

.mensajeenvio{
  color: #E7332A;
  font-size: 20px;
  font-family: 'mission_gothiclight';
}

.overlay_footer{
  opacity: 0;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  &.activo{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    opacity: 1;
    z-index: 99;
  }
}