@import url(fonts/goboldregular/stylesheetgoboldregular.css);
@import url(fonts/misiongoticlight/stylesheetmisiongoticlight.css);
@import url(fonts/misiongoticbold/stylesheetmissiongoticbold.css);
@import url(fonts/bankgotic/stylesheetbankgotic.css);
@import url(fonts/goboldhollow/stylesheetgoboldhollow.css);
@import url(fonts/gobolditalic/stylesheetgobolditalic.css);
.tmp-live .row {
  margin-left: auto !important;
  margin-right: auto !important; }

.tmp-main .row {
  margin-left: auto !important;
  margin-right: auto !important; }

.glyph-icon {
  position: absolute;
  z-index: 999;
  color: #DC2A2A;
  background-color: #000000;
  line-height: 30px;
  font-size: 35px; }
  .glyph-icon.flaticon-socialnetwork292 {
    right: 0;
    top: 10%; }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .glyph-icon.flaticon-socialnetwork292 {
        top: 20%; } }
  .glyph-icon.flaticon-twitter25 {
    right: 0;
    top: 17%; }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .glyph-icon.flaticon-twitter25 {
        top: 30%; } }
  .glyph-icon:before {
    font-size: 40px !important;
    margin-left: 0px !important; }

.pesas {
  position: relative; }
  @media screen and (min-width: 320px) and (max-width: 1024px) {
    .pesas {
      display: none; } }
  .pesas .pesa1 {
    max-width: 300px;
    width: 300px;
    position: absolute;
    top: -80px;
    right: 40px;
    z-index: 9999;
    opacity: 0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    transform: translatey(150%); }
    .pesas .pesa1.mostrar {
      opacity: 1;
      transform: translatey(0); }
  .pesas .pesa2 {
    max-width: 250px;
    width: 250px;
    position: absolute;
    top: 50px;
    right: 22%;
    z-index: 9999; }
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      .pesas .pesa2 {
        display: none; } }
  .pesas .pesa3 {
    max-width: 300px;
    width: 300px;
    position: absolute;
    top: -80px;
    left: 40px;
    z-index: 9999;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    transform: translatey(150%); }
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      .pesas .pesa3 {
        display: none; } }
    .pesas .pesa3.mostrar {
      transform: translatey(0%); }
  .pesas .pesa4 {
    max-width: 250px;
    width: 250px;
    position: absolute;
    top: 55px;
    left: 20%;
    z-index: 9999;
    transform: translatey(70%);
    -webkit-transform: translatey(70%);
    -moz-transform: translatey(70%); }
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      .pesas .pesa4 {
        display: none; } }

.site-header {
  height: auto;
  padding: 10px;
  position: fixed;
  z-index: 999999;
  width: 100%; }
  .site-header.transparent {
    background: rgba(0, 0, 0, 0.3); }
  .site-header.red {
    background-color: #DC2A2A; }
  .site-header .site-branding img {
    width: 50px;
    max-width: 50px;
    min-width: 50px; }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .site-header .site-branding img {
        width: 30px;
        max-width: 30px;
        min-width: 30px; } }
  .site-header .main-navigation .menu-button {
    display: none; }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .site-header .main-navigation .menu-button {
        display: block;
        width: 20px;
        z-index: 9999;
        position: absolute;
        top: 20px;
        right: 30px; } }
    .site-header .main-navigation .menu-button:after {
      background-color: white;
      content: '';
      display: block;
      height: 3px;
      transition: all 200ms ease-in-out; }
    .site-header .main-navigation .menu-button:before {
      background-color: white;
      content: '';
      display: block;
      height: 3px;
      box-shadow: 0 6px 0 white;
      margin-bottom: 9px;
      transition: all 200ms ease-in-out; }
    .site-header .main-navigation .menu-button.active:before {
      box-shadow: 0 0 0 #fff;
      transform: translateY(5px) rotate(45deg); }
    .site-header .main-navigation .menu-button.active:after {
      transform: translateY(-7px) rotate(-45deg); }
  .site-header .main-navigation .menu {
    float: right; }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .site-header .main-navigation .menu {
        position: fixed !important;
        opacity: 0;
        visibility: hidden; } }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .site-header .main-navigation .menu li {
        display: block;
        text-align: center; } }
    .site-header .main-navigation .menu li a {
      color: #fff;
      font-family: 'bankgothic_md_btmedium';
      font-size: 25px; }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .site-header .main-navigation .menu.mostrar {
        z-index: 9999;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 1;
        visibility: visible;
        position: fixed !important; } }

.site-content {
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-color: #F8F8F8; }
  .site-content .portada {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
    @media screen and (max-height: 820px) {
      .site-content .portada {
        height: auto; } }
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      .site-content .portada {
        height: auto; } }
    .site-content .portada .triangle {
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      right: 0; }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .portada .triangle {
          border-bottom-width: 100px !important; } }
    .site-content .portada .contenido {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 50%;
      padding: 60px; }
      @media screen and (max-height: 820px) {
        .site-content .portada .contenido {
          position: relative;
          top: 0;
          left: 0;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
          padding-top: 10%;
          padding-bottom: 10%; } }
      @media screen and (min-width: 641px) and (max-width: 1024px) {
        .site-content .portada .contenido {
          width: 100%;
          padding-top: 25%;
          padding-bottom: 25%;
          position: relative;
          top: 0;
          left: 0;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0); } }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .portada .contenido {
          width: 100%;
          padding-top: 25%;
          padding-bottom: 25%;
          padding-right: 40px !important;
          padding-left: 40px !important;
          position: relative;
          top: 0;
          left: 0;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0); } }
      .site-content .portada .contenido .titulo {
        color: #fff;
        font-family: 'goboldregular';
        text-transform: uppercase; }
      .site-content .portada .contenido .hash {
        color: #fff;
        font-family: 'bankgothic_md_btmedium';
        font-size: 40px;
        text-transform: uppercase; }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          .site-content .portada .contenido .hash {
            font-size: 20px;
            text-align: center; } }
        .site-content .portada .contenido .hash span {
          color: #E7332A;
          font-size: 40px; }
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            .site-content .portada .contenido .hash span {
              font-size: 20px; } }
      .site-content .portada .contenido .texto {
        color: #fff;
        font-size: 30px;
        font-family: 'mission_gothiclight'; }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          .site-content .portada .contenido .texto {
            font-size: 20px; } }
    .site-content .portada .down {
      bottom: 20px;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 70px;
      max-width: 70px;
      min-width: 70px;
      border: 1px solid #fff;
      padding: 20px;
      border-radius: 50%; }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .portada .down {
          display: none; } }
  .site-content .descripcion {
    height: 100vh;
    padding: 40px;
    position: relative;
    overflow: hidden;
    background-color: #ECEAE5; }
    @media screen and (max-height: 820px) {
      .site-content .descripcion {
        height: auto; } }
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      .site-content .descripcion {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        height: auto;
        overflow: hidden; } }
    .site-content .descripcion .triangle2 {
      width: 0;
      height: 0;
      position: absolute;
      top: 0px;
      right: 0; }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .descripcion .triangle2 {
          display: none; } }
    .site-content .descripcion .contenido_descripcion {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%;
      height: 80%;
      padding-left: 40px;
      padding-right: 40px; }
      @media screen and (max-height: 820px) {
        .site-content .descripcion .contenido_descripcion {
          position: relative;
          top: 0;
          left: 0;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0); } }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .descripcion .contenido_descripcion {
          height: auto;
          overflow: hidden;
          width: 100%;
          padding-left: 0px;
          padding-right: 0px;
          position: relative;
          top: 0;
          left: 0;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0); } }
      .site-content .descripcion .contenido_descripcion .infotop {
        float: right;
        width: 100%;
        text-align: right; }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          .site-content .descripcion .contenido_descripcion .infotop {
            text-align: center;
            float: none;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            background-color: #DC2A2A;
            position: relative;
            padding-top: 10%; } }
        .site-content .descripcion .contenido_descripcion .infotop .titulo {
          color: #fff;
          font-family: 'goboldregular';
          text-transform: uppercase; }
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            .site-content .descripcion .contenido_descripcion .infotop .titulo {
              text-align: center; } }
        .site-content .descripcion .contenido_descripcion .infotop .sub {
          border-bottom: 2px solid #BCFF00;
          width: 30%;
          float: right; }
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            .site-content .descripcion .contenido_descripcion .infotop .sub {
              width: 100%;
              float: none;
              border: none;
              padding-top: 20px; } }
        .site-content .descripcion .contenido_descripcion .infotop .border_responsivo {
          display: none; }
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            .site-content .descripcion .contenido_descripcion .infotop .border_responsivo {
              display: block;
              position: absolute;
              background-color: #BCFF00;
              height: 3px;
              width: 60%;
              left: 50%;
              transform: translateX(-50%);
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -ms-transform: translateX(-50%); } }
        .site-content .descripcion .contenido_descripcion .infotop p {
          color: #474747;
          font-size: 30px;
          font-family: 'mission_gothiclight';
          width: 50%;
          float: right; }
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            .site-content .descripcion .contenido_descripcion .infotop p {
              width: 100%;
              float: none;
              text-align: center;
              padding-left: 40px;
              padding-right: 40px;
              padding-top: 20px;
              padding-bottom: 10%;
              font-size: 20px;
              color: #ffffff; } }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          .site-content .descripcion .contenido_descripcion .infotop .triangulofootertextotop {
            width: 0;
            height: 0;
            border-bottom-width: 100px;
            border-bottom-color: #ECEAE5;
            border-bottom-style: solid; } }
      .site-content .descripcion .contenido_descripcion .infobottom {
        float: left;
        padding-top: 5%; }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          .site-content .descripcion .contenido_descripcion .infobottom {
            text-align: center; } }
        .site-content .descripcion .contenido_descripcion .infobottom .imgbottom {
          float: left;
          width: 300px;
          max-width: 300px;
          height: 300px;
          max-height: 300px;
          border-radius: 50%;
          border: 2px dashed #DC2A2A;
          padding: 5px;
          -webkit-transition: all 500ms ease-in-out;
          -moz-transition: all 500ms ease-in-out;
          -o-transition: all 500ms ease-in-out;
          transition: all 500ms ease-in-out;
          transform: translatex(-150%);
          -webkit-transform: translatex(-150%);
          -ms-transform: translatex(-150%); }
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            .site-content .descripcion .contenido_descripcion .infobottom .imgbottom {
              transform: translatex(0%);
              -webkit-transform: translatex(0%);
              -ms-transform: translatex(0%);
              float: none; } }
          .site-content .descripcion .contenido_descripcion .infobottom .imgbottom.mostrar {
            transform: translatex(0%);
            -webkit-transform: translatex(0%);
            -ms-transform: translatex(0%); }
        .site-content .descripcion .contenido_descripcion .infobottom p {
          padding-left: 40px;
          color: #474747;
          font-size: 30px;
          font-family: 'mission_gothiclight';
          width: 50%;
          float: left;
          margin-top: 50px; }
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            .site-content .descripcion .contenido_descripcion .infobottom p {
              width: 100%;
              float: none;
              padding-left: 40px;
              padding-right: 40px;
              padding-top: 20px;
              margin-top: 0px;
              font-size: 20px; } }
    .site-content .descripcion .down {
      bottom: 20px;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 70px;
      max-width: 70px;
      min-width: 70px;
      border: 1px solid #A4A3A3;
      padding: 20px;
      border-radius: 50%; }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .descripcion .down {
          display: none; } }
  .site-content .programa {
    height: auto;
    overflow: hidden;
    position: relative; }
    .site-content .programa .banner {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 700px;
      position: relative; }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .programa .banner {
          height: auto;
          overflow: hidden; } }
      .site-content .programa .banner .center {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 9999; }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          .site-content .programa .banner .center {
            width: 100%;
            padding-top: 10%;
            padding-bottom: 10%;
            position: relative;
            top: 0;
            left: 0;
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            transform: translate(0, 0);
            height: auto;
            overflow: hidden;
            text-align: center; } }
        .site-content .programa .banner .center .titulo {
          color: #fff;
          font-family: 'goboldregular';
          text-transform: uppercase;
          text-align: center; }
        .site-content .programa .banner .center .cien {
          color: #fff;
          font-size: 13em;
          font-family: 'goboldregular'; }
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            .site-content .programa .banner .center .cien {
              line-height: 1em;
              font-size: 9em; } }
        .site-content .programa .banner .center .leyendas {
          margin-top: 0px; }
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            .site-content .programa .banner .center .leyendas {
              margin-top: 0px; } }
          .site-content .programa .banner .center .leyendas .dias {
            color: #fff;
            font-family: 'gobold_hollow_boldregular';
            font-size: 30px; }
            @media screen and (min-width: 320px) and (max-width: 1024px) {
              .site-content .programa .banner .center .leyendas .dias {
                margin-bottom: 0px; } }
          .site-content .programa .banner .center .leyendas .hash {
            color: #bcff00;
            font-family: 'goboldregular';
            font-size: 7em;
            line-height: 95px;
            text-align: center; }
            @media screen and (min-width: 320px) and (max-width: 1024px) {
              .site-content .programa .banner .center .leyendas .hash {
                font-size: 5em;
                line-height: 85px; } }
    .site-content .programa .cinta {
      background-color: #BCFF00;
      text-align: center;
      padding: 20px; }
      .site-content .programa .cinta h3 {
        font-family: 'goboldregular'; }
    .site-content .programa .caja1 {
      padding: 40px;
      background-color: #ECEAE5;
      height: 350px; }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .programa .caja1 {
          height: auto;
          overflow: hidden; } }
      @media screen and (min-width: 641px) and (max-width: 1024px) {
        .site-content .programa .caja1 {
          height: 500px;
          overflow: hidden; } }
      .site-content .programa .caja1 img {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        margin-bottom: 20px; }
      .site-content .programa .caja1 h3 {
        font-family: 'goboldregular';
        text-transform: uppercase; }
      .site-content .programa .caja1 p {
        font-family: 'mission_gothiclight';
        color: #303030;
        font-size: 20px; }
    .site-content .programa .caja2 {
      padding: 40px;
      background-color: #DDDCDB;
      height: 350px; }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .programa .caja2 {
          height: auto;
          overflow: hidden; } }
      @media screen and (min-width: 641px) and (max-width: 1024px) {
        .site-content .programa .caja2 {
          height: 500px;
          overflow: hidden; } }
      .site-content .programa .caja2 img {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        margin-bottom: 20px; }
      .site-content .programa .caja2 h3 {
        font-family: 'goboldregular';
        text-transform: uppercase; }
      .site-content .programa .caja2 p {
        font-family: 'mission_gothiclight';
        color: #303030;
        font-size: 20px; }
    .site-content .programa .caja3 {
      padding: 40px;
      background-color: #C4C4C4;
      height: 350px; }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .programa .caja3 {
          height: auto;
          overflow: hidden; } }
      @media screen and (min-width: 641px) and (max-width: 1024px) {
        .site-content .programa .caja3 {
          height: 500px;
          overflow: hidden; } }
      .site-content .programa .caja3 img {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        margin-bottom: 20px; }
      .site-content .programa .caja3 h3 {
        font-family: 'goboldregular';
        text-transform: uppercase; }
      .site-content .programa .caja3 p {
        font-family: 'mission_gothiclight';
        color: #303030;
        font-size: 20px; }
  .site-content .video .content {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 50px;
    margin-bottom: 60px; }
    .site-content .video .content .titulo {
      color: #000;
      font-family: 'goboldregular';
      text-transform: uppercase;
      margin-top: 20px;
      margin-bottom: 40px; }
  .site-content .atencion {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    overflow: hidden; }
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      .site-content .atencion {
        background-attachment: scroll; } }
    .site-content .atencion .overlay {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(188, 255, 0, 0.7); }
    .site-content .atencion .triangulo1 {
      width: 0;
      height: 0;
      position: inherit; }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .atencion .triangulo1 {
          position: absolute;
          top: 0;
          border-top-width: 100px !important; } }
      @media screen and (min-width: 641px) and (max-width: 1024px) {
        .site-content .atencion .triangulo1 {
          position: absolute;
          top: 0;
          border-top-width: 300px !important; } }
    .site-content .atencion .triangulo2 {
      width: 0;
      height: 0;
      position: inherit; }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .atencion .triangulo2 {
          position: absolute;
          bottom: 0;
          border-bottom-width: 100px !important; } }
      @media screen and (min-width: 641px) and (max-width: 1024px) {
        .site-content .atencion .triangulo2 {
          position: absolute;
          bottom: 0;
          border-bottom-width: 300px !important; } }
    .site-content .atencion .titulo {
      color: #000000;
      font-family: 'gobold_italicitalic';
      text-transform: uppercase;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .site-content .faq {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    background-color: #ECEAE5; }
    .site-content .faq .titulo {
      font-family: 'goboldregular';
      text-transform: uppercase;
      color: #000000;
      text-align: center;
      letter-spacing: 4px; }
    .site-content .faq div {
      font-family: 'mission_gothiclight';
      font-size: 20px;
      color: #474747;
      margin-top: 60px; }
      .site-content .faq div strong {
        font-family: 'mission_gothicbold'; }
  .site-content .testimonios {
    background-color: #F8F8F8;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%; }
    .site-content .testimonios .titulo {
      font-family: 'goboldregular';
      text-transform: uppercase;
      color: #000000;
      text-align: center; }
    .site-content .testimonios .item_testi {
      background-color: #ffffff;
      height: 500px;
      overflow: hidden;
      padding: 20px;
      margin: 20px; }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .testimonios .item_testi {
          height: auto; } }
      .site-content .testimonios .item_testi .img {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100%; }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          .site-content .testimonios .item_testi .img {
            height: 500px; } }
      .site-content .testimonios .item_testi .texto {
        font-family: 'mission_gothiclight';
        font-size: 18px;
        height: 450px;
        overflow-y: scroll; }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          .site-content .testimonios .item_testi .texto {
            height: auto;
            margin-top: 20px; } }
      @media screen and (min-width: 320px) and (max-width: 800px) {
        .site-content .testimonios .item_testi .moretesti {
          display: block;
          background-color: #DC2A2A;
          text-align: center;
          color: #fff;
          font-size: 20px;
          padding: 10px;
          margin-top: 20px; } }
    .site-content .testimonios .owl-dots {
      position: absolute;
      bottom: -13%; }
      @media screen and (min-width: 320px) and (max-width: 800px) {
        .site-content .testimonios .owl-dots {
          bottom: 0; } }
  .site-content .pagos {
    background-color: #ECEAE5;
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    height: auto;
    overflow: hidden; }
    .site-content .pagos .titulo {
      font-family: 'goboldregular';
      color: #000000;
      text-align: center; }
    .site-content .pagos .inversion {
      color: #474747;
      font-family: 'mission_gothicbold';
      text-align: center;
      font-size: 24px;
      margin-top: 60px; }
      .site-content .pagos .inversion .costo {
        color: #DC2A2A; }
    .site-content .pagos .opcionpago {
      margin-top: 40px;
      font-size: 20px; }
      .site-content .pagos .opcionpago input {
        background-color: #DC2A2A;
        color: #ffffff;
        padding: 15px;
        border: none;
        width: 40%;
        font-family: 'mission_gothicbold'; }
        @media screen and (min-width: 320px) and (max-width: 800px) {
          .site-content .pagos .opcionpago input {
            width: 100%; } }
  .site-content .contacto {
    height: auto;
    overflow: hidden;
    position: relative;
    background-color: #F8F8F8; }
    .site-content .contacto .triangulocontactotop {
      position: absolute;
      right: 0;
      width: 0;
      height: 0; }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .contacto .triangulocontactotop {
          border-top: 100px solid #ECEAE5 !important; } }
    .site-content .contacto .titulo {
      font-family: 'goboldregular';
      text-transform: uppercase;
      color: #000000;
      margin: 0 auto; }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .contacto .titulo {
          width: 100%;
          padding-left: 20px;
          padding-right: 20px;
          font-size: 20px;
          text-align: center; } }
    .site-content .contacto .agenda {
      display: none; }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .contacto .agenda {
          width: 100%; } }
      .site-content .contacto .agenda .subtitulo {
        font-family: 'goboldregular';
        text-transform: uppercase;
        color: #000000;
        font-size: 25px;
        display: inline; }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          .site-content .contacto .agenda .subtitulo {
            width: 100%;
            font-size: 20px; } }
    .site-content .contacto .cirulo1 {
      display: inline-block;
      width: 9px;
      height: 9px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: #DC2A2A;
      margin: 0;
      margin-left: 10px;
      margin-right: 10px;
      vertical-align: super; }
    .site-content .contacto .contenido {
      padding-top: 20%;
      padding-bottom: 5%;
      padding-right: 5%;
      padding-left: 5%;
      height: auto;
      overflow: hidden; }
      @media screen and (min-width: 320px) and (max-width: 800px) {
        .site-content .contacto .contenido {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
          padding-top: 25%;
          padding-left: 0px;
          padding-right: 0px;
          padding-bottom: 0px; } }
      @media screen and (min-width: 801px) and (max-width: 1024px) {
        .site-content .contacto .contenido {
          padding-bottom: 10%; } }
      .site-content .contacto .contenido .datos_contacto {
        margin-top: 50px;
        border-left: 5px solid #DC2A2A;
        font-family: 'mission_gothiclight';
        font-size: 20px;
        position: relative; }
        @media screen and (min-width: 320px) and (max-width: 800px) {
          .site-content .contacto .contenido .datos_contacto {
            order: 2;
            background-color: #DC2A2A;
            color: #fff;
            padding: 20px;
            text-align: center;
            border: none; } }
        .site-content .contacto .contenido .datos_contacto .tringulo_contactohome {
          width: 0;
          height: 0;
          border-top: 100px solid #F8F8F8;
          border-right: 640px solid transparent;
          position: absolute;
          top: 0;
          left: 0; }
        @media screen and (min-width: 320px) and (max-width: 640px) {
          .site-content .contacto .contenido .datos_contacto .content {
            margin-top: 30%;
            margin-bottom: 30%; } }
        @media screen and (min-width: 641px) and (max-width: 1024px) {
          .site-content .contacto .contenido .datos_contacto .content {
            margin-top: 10%;
            margin-bottom: 10%; } }
        .site-content .contacto .contenido .datos_contacto .content .logowhatapp {
          width: 30px; }
      .site-content .contacto .contenido .form_contacto {
        margin-top: 50px; }
        @media screen and (min-width: 320px) and (max-width: 800px) {
          .site-content .contacto .contenido .form_contacto {
            order: 1;
            padding-left: 30px;
            padding-right: 30px; } }
        .site-content .contacto .contenido .form_contacto label {
          color: #000;
          font-size: 20px;
          font-family: 'mission_gothiclight'; }
        .site-content .contacto .contenido .form_contacto br {
          display: none; }
        .site-content .contacto .contenido .form_contacto .sendform {
          background-color: #DC2A2A;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 30px;
          padding-right: 30px;
          color: #fff;
          border: none;
          float: right;
          font-size: 20px; }
          @media screen and (min-width: 320px) and (max-width: 800px) {
            .site-content .contacto .contenido .form_contacto .sendform {
              width: 100%;
              float: none;
              margin-bottom: 40px; } }
          @media screen and (min-width: 801px) and (max-width: 1024px) {
            .site-content .contacto .contenido .form_contacto .sendform {
              width: 100%;
              float: none;
              margin-bottom: 70px; } }
    .site-content .contacto .triangulocontacto {
      position: absolute;
      bottom: 0px;
      width: 0;
      height: 0; }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .contacto .triangulocontacto {
          display: none; } }
    .site-content .contacto .trianguloblog2 {
      display: none; }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .contacto .trianguloblog2 {
          position: absolute;
          bottom: 0px;
          width: 0;
          height: 0;
          display: block; } }
  .site-content .blog {
    position: relative;
    overflow: hidden;
    background-color: #F8F8F8; }
    .site-content .blog .banner {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 70vh;
      position: relative;
      overflow: hidden; }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .blog .banner {
          margin-top: 17%; } }
      @media screen and (min-width: 641px) and (max-width: 1024px) {
        .site-content .blog .banner {
          margin-top: 7%; } }
      .site-content .blog .banner .formsuscribe {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 10%; }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          .site-content .blog .banner .formsuscribe {
            width: 100%;
            right: 0px;
            padding-left: 20px;
            padding-right: 20px; } }
        .site-content .blog .banner .formsuscribe .titulo {
          font-family: 'goboldregular'; }
          .site-content .blog .banner .formsuscribe .titulo span {
            color: #FF3333; }
        .site-content .blog .banner .formsuscribe .describe {
          font-family: 'mission_gothiclight';
          color: #454547;
          font-size: 18px;
          margin-bottom: 0px; }
        .site-content .blog .banner .formsuscribe input {
          border: 3px solid #FF3333;
          padding: 20px; }
        .site-content .blog .banner .formsuscribe #btnSubmit {
          color: #fff;
          font-family: 'mission_gothiclight';
          background-color: #FF3333;
          padding-left: 30px;
          padding-right: 30px;
          padding-top: 5px;
          padding-bottom: 5px;
          font-size: 20px;
          float: right; }
      .site-content .blog .banner .trianguloblog {
        width: 0;
        height: 0;
        position: absolute;
        bottom: 0;
        right: 0; }
        @media screen and (min-width: 320px) and (max-width: 640px) {
          .site-content .blog .banner .trianguloblog {
            border-bottom-width: 50px !important; } }
        @media screen and (max-height: 700px) {
          .site-content .blog .banner .trianguloblog {
            border-bottom-width: 70px !important; } }
    .site-content .blog .listadoarticulos {
      margin-top: 50px;
      padding-left: 10%;
      padding-right: 10%;
      padding-bottom: 7%; }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .blog .listadoarticulos {
          padding-left: 0px;
          padding-right: 0px; } }
      .site-content .blog .listadoarticulos .item {
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 20px;
        height: 650px; }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          .site-content .blog .listadoarticulos .item {
            height: auto; } }
        .site-content .blog .listadoarticulos .item .portada_articulo {
          height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: top; }
        .site-content .blog .listadoarticulos .item .titulo_articulo {
          text-align: right;
          color: #FF3333;
          font-family: 'bankgothic_md_btmedium';
          font-size: 18px;
          border-bottom: 2px solid #FF3333; }
        .site-content .blog .listadoarticulos .item .metaarticulo {
          font-family: 'mission_gothiclight';
          color: #454547;
          float: left;
          padding-left: 10px;
          text-align: center;
          font-size: 18px; }
          .site-content .blog .listadoarticulos .item .metaarticulo a {
            color: #DC2A2A;
            cursor: default; }
        .site-content .blog .listadoarticulos .item .contenidoarticulo {
          font-family: 'mission_gothiclight';
          color: #454547;
          font-size: 18px; }
      .site-content .blog .listadoarticulos .paginacion {
        font-family: 'bankgothic_md_btmedium';
        color: #454547;
        font-size: 25px; }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          .site-content .blog .listadoarticulos .paginacion {
            margin-bottom: 40px; } }
        .site-content .blog .listadoarticulos .paginacion .page-numbers {
          color: #454547; }
          .site-content .blog .listadoarticulos .paginacion .page-numbers.current {
            color: #FF3333; }
      .site-content .blog .listadoarticulos .trianguloblog2 {
        width: 0;
        height: 0;
        position: absolute;
        bottom: 0;
        right: 0px; }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          .site-content .blog .listadoarticulos .trianguloblog2 {
            border-bottom-width: 50px !important; } }
  .site-content .content-area {
    background-color: #F8F8F8;
    position: relative;
    overflow: hidden; }
    .site-content .content-area .banner {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 70vh;
      position: relative;
      overflow: hidden; }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .content-area .banner {
          margin-top: 17%; } }
      @media screen and (min-width: 641px) and (max-width: 1024px) {
        .site-content .content-area .banner {
          margin-top: 7%; } }
      .site-content .content-area .banner .formsuscribe {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 10%; }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          .site-content .content-area .banner .formsuscribe {
            width: 100%;
            right: 0px;
            padding-left: 20px;
            padding-right: 20px; } }
        .site-content .content-area .banner .formsuscribe .titulo {
          font-family: 'goboldregular'; }
          .site-content .content-area .banner .formsuscribe .titulo span {
            color: #FF3333; }
        .site-content .content-area .banner .formsuscribe .describe {
          font-family: 'mission_gothiclight';
          color: #454547;
          font-size: 18px;
          margin-bottom: 0px; }
        .site-content .content-area .banner .formsuscribe input {
          border: 3px solid #FF3333;
          padding: 20px; }
        .site-content .content-area .banner .formsuscribe #btnSubmit {
          color: #fff;
          font-family: 'mission_gothiclight';
          background-color: #FF3333;
          padding-left: 30px;
          padding-right: 30px;
          padding-top: 5px;
          padding-bottom: 5px;
          font-size: 20px;
          float: right; }
      .site-content .content-area .banner .trianguloblog {
        width: 0;
        height: 0;
        position: absolute;
        bottom: 0;
        right: 0; }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          .site-content .content-area .banner .trianguloblog {
            border-bottom-width: 50px !important; } }
    .site-content .content-area .contenido_general {
      padding-left: 5%;
      padding-right: 5%; }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .content-area .contenido_general {
          padding-left: 40px;
          padding-right: 40px; } }
      .site-content .content-area .contenido_general .contenido_articulo {
        margin-top: 10%; }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          .site-content .content-area .contenido_general .contenido_articulo {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px; } }
        .site-content .content-area .contenido_general .contenido_articulo .imgdestacada {
          height: auto;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center; }
        .site-content .content-area .contenido_general .contenido_articulo .entry-title {
          font-family: 'bankgothic_md_btmedium';
          color: #FF3333; }
        .site-content .content-area .contenido_general .contenido_articulo .entry-meta .metaarticulo {
          font-family: 'mission_gothiclight';
          color: #FF3333;
          float: left;
          padding-left: 10px;
          text-align: center;
          font-size: 18px; }
          .site-content .content-area .contenido_general .contenido_articulo .entry-meta .metaarticulo a {
            color: #FF3333;
            font-family: 'mission_gothiclight'; }
        .site-content .content-area .contenido_general .contenido_articulo .entry-content h1 {
          font-family: 'bankgothic_md_btmedium';
          color: #FF3333; }
        .site-content .content-area .contenido_general .contenido_articulo .entry-content h2 {
          font-family: 'bankgothic_md_btmedium';
          color: #FF3333; }
        .site-content .content-area .contenido_general .contenido_articulo .entry-content h3 {
          font-family: 'bankgothic_md_btmedium';
          color: #FF3333; }
        .site-content .content-area .contenido_general .contenido_articulo .entry-content h4 {
          font-family: 'bankgothic_md_btmedium';
          color: #FF3333; }
        .site-content .content-area .contenido_general .contenido_articulo .entry-content p {
          color: #686868;
          font-family: 'mission_gothiclight';
          font-size: 18px; }
        .site-content .content-area .contenido_general .contenido_articulo .entry-content ul li {
          color: #686868;
          font-family: 'mission_gothiclight';
          font-size: 18px; }
        .site-content .content-area .contenido_general .contenido_articulo .entry-content .sharedaddy {
          margin-left: 10%; }
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            .site-content .content-area .contenido_general .contenido_articulo .entry-content .sharedaddy {
              margin-left: 0px; } }
          .site-content .content-area .contenido_general .contenido_articulo .entry-content .sharedaddy .sd-title {
            border: none !important;
            color: #FF3333;
            font-size: 18px; }
          .site-content .content-area .contenido_general .contenido_articulo .entry-content .sharedaddy .sd-content {
            display: inline-block;
            margin-left: 30px; }
            @media screen and (min-width: 320px) and (max-width: 1024px) {
              .site-content .content-area .contenido_general .contenido_articulo .entry-content .sharedaddy .sd-content {
                margin-left: 10px; } }
            .site-content .content-area .contenido_general .contenido_articulo .entry-content .sharedaddy .sd-content ul li {
              padding: 10px; }
              .site-content .content-area .contenido_general .contenido_articulo .entry-content .sharedaddy .sd-content ul li a {
                background-color: #FF3333; }
            .site-content .content-area .contenido_general .contenido_articulo .entry-content .sharedaddy .sd-content ol li {
              padding: 10px; }
              .site-content .content-area .contenido_general .contenido_articulo .entry-content .sharedaddy .sd-content ol li a {
                background-color: #FF3333; }
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      .site-content .content-area .sidebar {
        margin-top: 40px; } }
    .site-content .content-area .sidebar .titulo_seccion {
      font-family: 'goboldregular';
      color: #DC2A2A;
      margin-bottom: 40px; }
    .site-content .content-area .sidebar .articulo_relacionado {
      margin-bottom: 30px; }
      .site-content .content-area .sidebar .articulo_relacionado .imgdestacada {
        height: 300px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; }
      .site-content .content-area .sidebar .articulo_relacionado .tituloarticulo {
        font-family: 'bankgothic_md_btmedium';
        color: #DC2A2A;
        font-size: 25px; }
      .site-content .content-area .sidebar .articulo_relacionado .contenidoarticulorelacionado {
        font-family: 'mission_gothiclight';
        color: #515151;
        font-size: 18px; }
    .site-content .content-area .sidebar .owl-next {
      background-color: #DC2A2A;
      color: #fff;
      font-family: 'mission_gothiclight';
      font-size: 18px; }
    .site-content .content-area .sidebar .owl-prev {
      background-color: #DC2A2A;
      color: #fff;
      font-family: 'mission_gothiclight';
      font-size: 18px; }
    .site-content .content-area .comentariosarticulo {
      background-color: #DC2A2A;
      height: auto;
      overflow: hidden;
      padding-left: 5%;
      padding-right: 5%; }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .content-area .comentariosarticulo {
          padding-left: 5%;
          padding-right: 5%; } }
      .site-content .content-area .comentariosarticulo #reply-title {
        color: #ECEAE5;
        font-family: 'mission_gothiclight'; }
      .site-content .content-area .comentariosarticulo .comments-title {
        color: #ECEAE5;
        font-family: 'mission_gothiclight'; }
      .site-content .content-area .comentariosarticulo .comment-list li {
        list-style: none; }
      .site-content .content-area .comentariosarticulo .comment-author {
        display: inline; }
        .site-content .content-area .comentariosarticulo .comment-author .fn {
          color: #ECEAE5;
          font-family: 'mission_gothiclight'; }
        .site-content .content-area .comentariosarticulo .comment-author .says {
          display: none; }
      .site-content .content-area .comentariosarticulo .comment-metadata {
        display: inline; }
        .site-content .content-area .comentariosarticulo .comment-metadata a {
          color: #ECEAE5;
          font-family: 'mission_gothiclight'; }
      .site-content .content-area .comentariosarticulo .comment-content {
        margin-top: 20px; }
        .site-content .content-area .comentariosarticulo .comment-content p {
          font-family: 'mission_gothiclight';
          color: #ECEAE5;
          font-size: 20px; }
    .site-content .content-area .trianguloblog2 {
      border-left-color: #dc2a2a !important; }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .content-area .trianguloblog2 {
          border-bottom-width: 50px !important; } }

#redtriangulofooter {
  border-bottom-color: #dc2a2a !important; }

.site-footer {
  background-color: #0D0F13;
  padding: 20px; }
  @media screen and (min-width: 320px) and (max-width: 1024px) {
    .site-footer .politicas {
      text-align: center; } }
  .site-footer .politicas a {
    color: #fff; }
  .site-footer .copy {
    display: block; }
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      .site-footer .copy {
        display: none; } }
    .site-footer .copy p {
      color: #fff;
      margin-bottom: 0px; }

.wysija-input {
  border: 3px solid #ff3333; }

.widget_wysija_cont {
  height: auto;
  overflow: hidden; }

.wysija-submit {
  color: #fff;
  font-family: 'mission_gothiclight';
  background-color: #FF3333;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  float: right; }

.curtain .content {
  background-color: #eceae5; }

.popup .close-btn {
  top: -50px !important; }

.response {
  display: none; }

.mensajeenvio {
  color: #E7332A;
  font-size: 20px;
  font-family: 'mission_gothiclight'; }

.overlay_footer {
  opacity: 0;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out; }
  .overlay_footer.activo {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    z-index: 99; }

/*# sourceMappingURL=style.css.map */
